 <!-- Publications Section -->
    <section id="publications">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Publications</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">

            	<font size="+5"> <b> Journals </b> <br/> </font>

                <p>[J3] Michieli U., Toldo M. and Ozay M., “Federated Learning via Attentive Margin of Semantic Feature Representations”,
                    IEEE Internet of Things Journal (IoTJ), 2022. <a href="https://doi.org/10.1109/JIOT.2022.3209865" style="color:#0092a2">[paper]</a>  <br/></p>

                <p>[J2] Toldo M., Maracani A., Michieli U., Zanuttigh P., "Unsupervised Domain Adaptation in Semantic Segmentation: a Review",
                    Technologies, 2020, 8, 35. <a href="https://arxiv.org/abs/2005.10876" style="color:#0092a2">[paper]</a>  <br/></p>

                <p>[J1] Toldo M., Michieli U., Agesti G., Zanuttigh P., "Unsupervised Domain Adaptation for Mobile Semantic Segmentation based on Cycle Consistency and Feature Alignment",
                    Elsevier Image and Vision Computing (IMAVIS), 2020. <a href="https://arxiv.org/abs/2001.04692" style="color:#0092a2">[paper]</a> <a href="http://lttm.dei.unipd.it/paper_data/UDAmobile/" style="color:#0092a2">[webpage]</a><br/></p>

                <font size="+5"> <b> Conferences </b> <br/> </font>

                <p>[C6] Shenaj D.*, Fanì E.*, Toldo M., Caldarola D., Tavera A., Michieli U.*, Ciccone M.*, Zanuttigh P.*, Caputo B.*, “Learning Across Domains and Devices: Style-Driven Source-Free Domain Adaptation in Clustered Federated Learning,”
                    Winter Conference on Applications of Computer Vision (WACV), 2023.
                    <a href="https://arxiv.org/abs/2210.02326" style="color:#0092a2">[paper]</a>
                    <a href="https://github.com/Erosinho13/LADD" style="color:#0092a2">[code]</a> <br/></p>

                <p>[C5] Toldo M., Ozay M., "Bring Evanescent Representations to Life in Lifelong Class Incremental Learning ",
                    Proceedings of the Computer Vision and Pattern Recognition Conference (CVPR), 2022.
                    <a href="https://openaccess.thecvf.com/content/CVPR2022/html/Toldo_Bring_Evanescent_Representations_to_Life_in_Lifelong_Class_Incremental_Learning_CVPR_2022_paper.html" style="color:#0092a2">[paper]</a>
                    <a href="https://drive.google.com/uc?export=download&id=1JDrnlLbgnuOawbkGyT56lBX1vO_lV890" style="color:#0092a2">[poster]</a>
                    <a href="https://drive.google.com/uc?export=download&id=1JEfTL96ZLhPc8TaeszFQgdR2gFur2UZT" style="color:#0092a2">[video]</a> <br/></p>

                <p>[C4] Maracani A.*, Michieli U.*, Toldo M.* and Zanuttigh P. "RECALL: Replay-based Continual Learning in Semantic Segmentation",
                    Proceedings of the International Computer Vision Conference (ICCV), 2021.
                    <a href="https://arxiv.org/abs/2108.03673" style="color:#0092a2">[paper]</a>
                    <a href="https://github.com/LTTM/RECALL" style="color:#0092a2">[code]</a>
                    <a href="https://lttm.dei.unipd.it/paper_data/RECALL/poster.pdf" style="color:#0092a2">[poster]</a>
					<br/></p>

                <p>[C3] Barbato F., Toldo M., Michieli U., Zanuttigh P., "Latent Space Regularization for Unsupervised Domain Adaptation in Semantic Segmentation",
                    Proceedings of the Computer Vision and Pattern Recognition Conference (CVPR), Workshop on Autonomous Driving (WAD), 2021.
                    <a href="https://arxiv.org/abs/2104.02633" style="color:#0092a2">[paper]</a>
                    <a href="https://lttm.dei.unipd.it/paper_data/LSR/" style="color:#0092a2">[webpage]</a>
                    <a href="https://drive.google.com/uc?export=download&id=1JFX8RfFrWUplbupHiFc5yStOzr29yLnL" style="color:#0092a2">[poster]</a> <br/></p>

				<p>[C2] Toldo M., Michieli U., Zanuttigh P., "Unsupervised Domain Adaptation in Semantic Segmentation via Orthogonal and Clustered Embeddings",
                    Proceedings of the Winter Conference on Applications of Computer Vision  (WACV), 05-09 January 2021.
                    <a href="https://arxiv.org/abs/2011.12616" style="color:#0092a2">[paper]</a>
                    <a href="https://lttm.dei.unipd.it/paper_data/UDAclustering/" style="color:#0092a2">[webpage]</a>
                    <a href="https://github.com/LTTM/UDAclustering" style="color:#0092a2">[code]</a>
                    <a href="https://drive.google.com/uc?export=download&id=1JC8T9AXPcyHq8EqAeTyzxPYHzt3LXVov" style="color:#0092a2">[poster]</a>
                    <a href="https://drive.google.com/uc?export=download&id=1JHuWlzvNkvGBcOMNDUkuobIQQsILhl59" style="color:#0092a2">[slides]</a>
                    <a href="https://youtu.be/mTRimyHe-Vo" style="color:#0092a2">[video]</a> <br/></p>

                <p>[C1] Spadotto T., Toldo M., Michieli U., Zanuttigh P., "Unsupervised Domain Adaptation with Multiple Domain Discriminators and Adaptive Self-Training",
                    Proceedings of the International Conference on Pattern Recognition (ICPR), Milan (Italy), 10-15 January 2020.
                    <a href="https://arxiv.org/abs/2004.12724" style="color:#0092a2">[paper]</a>
                    <a href="https://lttm.dei.unipd.it/paper_data/semanticDA/" style="color:#0092a2">[webpage & code]</a>
                    <a href="https://drive.google.com/uc?export=download&id=1JGWzlLJ96bvpEv2mMA8zXqb_k_BRdf6z" style="color:#0092a2">[poster]</a>
                    <a href="https://drive.google.com/uc?export=download&id=1JGqA3iMbyUxHsxgQgicBWfvCpKBNN1zI" style="color:#0092a2">[slides]</a>
                    <a href="https://youtu.be/p9RDcGrU67A" style="color:#0092a2">[video]</a>  <br/></p>

                <font size="+5"> <b> Book Chapters </b> <br/> </font>

				<p>[B1] Michieli U., Toldo M., Zanuttigh P., "Unsupervised Domain Adaptation and Continual Learning in Semantic Segmentation",
                    Advanced Methods and Deep Learning in Computer Vision, Elsevier, 2021.
                    <a href="https://www.elsevier.com/books/advanced-methods-and-deep-learning-in-computer-vision/davies/978-0-12-822109-9" style="color:#0092a2">[book]</a> <br/></p>

            </div>
        </div>
    </section>